*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}

.container{
    width: 1175px;
    margin: 0 auto;
}
/* common css ends */

.back2top i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #02918c;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    z-index: 990;
}

/* navbar css start  */

.navbar{
    background-color: #02918c;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav_bg{
    background-color: #02918ccc;
    animation: anas 1s;
    -webkit-animation: anas 1s;
}

@keyframes anas{
    0%{
        top:-50px;
    }

    100%{
        top:0;
    }
}

.nav_main{
    padding: 18px 0;
}

.nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li{
    display: inline-block;
    margin: 0 25px;
}

.menu ul li:last-child{
    margin-right: 0;
}

.menu ul li a{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #fff;
}

/* navbar css ends  */

/* banner css part start */

.banner_main{
    padding-top: 56px;
}

.bnr_1{
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 210px 0;
}
.bnr_2{
    background: url(../images/banner_02.jpg) no-repeat center / cover;
    padding: 210px 0;
}
.bnr_3{
    background: url(../images/banner_03.jpg) no-repeat center / cover;
    padding: 210px 0;
}

.banner_text{
    text-align: center;
    color: #fff;
}

.banner_text h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.banner_text h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 68px;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.banner_text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.banner_text img{
    padding: 50px 0 70px;
    margin: 0 auto;
}


.bnr_btn a{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    padding: 20px 40px;
    border: 1px solid #fff;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.bnr_btn a:hover{
    color: #000;
    background-color: #cfc91d;
    border-color: #cfc91d;
}

.slick-dots{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.slick-dots li{
    display: inline-block;
    margin: 5px;
    width: 15px;
    height: 15px;
    background-color: #02918c6e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -10px;
}

.slick-dots li button{
    color: transparent;
    height: 15px;
    width: 15px;
    background-color: #02918c;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
}

.slick-dots li.slick-active button{
    opacity: 1;
}
/* banner css part ends */

/* about part css start */

#about{
    padding: 100px 0;
}

.about_head{
    text-align: center;
}

.about_head h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 46px;
    color: #02918c;
}

.about_head img{
    padding: 30px 0;
}
.about_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #02918c;
    padding: 0 130px;
    line-height: 36px;
}

.about_head span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: #02918c;
}

.about_main{
    margin-top: 80px;
    display: flex;
}

.about_item{
    width: 25%;
    border-right: 1px solid #02918c;
}
.about_item:last-child{
    border-right: none;
}

.about_inner{
    text-align: center;
    color: #02918c;
    
}


.about_inner i{
    font-size: 30px;
    padding-bottom: 30px;
}

.about_inner h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 30px;
}

.about_inner p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding-bottom: 30px;
    line-height: 22px;
    padding: 0 50px;
}

/* about part css ends */

/* service part css start */

.ser_contnr{
    width: 1278px;
    margin: 0 auto;
}

.service_main{
    display: flex;

}

.ser_left{
    width: 50%;
    background-color: #f0f0e8;
}
.ser_right{
    width: 50%;
}

.ser_right img{
    width: 100%;
}

.ser_hear{
    padding: 75px 80px 60px;
    color: #02918c;
}

.ser_hear h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 46px;
    padding-bottom: 40px;
}

.ser_hear p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    padding-top: 30px;
}

.ser_main{
    padding: 0px 0 0px 80px;
    color: #02918c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ser_item{
    width: 50%;
    padding-top: 55px;
}

.ser_inner i{
    font-size: 25px;
    padding-bottom: 18px;
}

.ser_inner h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 20px;
}

.ser_inner p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    padding-right: 90px;
}


/* service part css ends */

/* work part css start */

#work{
    padding: 100px 0 0;
}

.work_head{
    text-align: center;
}

.work_head h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 46px;
    color: #02918c;
}

.work_head img{
    padding: 30px 0;
}
.work_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #02918c;
    padding: 0 180px;
    line-height: 36px;
}

.work_head span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: #02918c;
}

.work_main{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.work_item{
    width: 25%;
    overflow: hidden;
}
.work_inner img{
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}

.work_inner{
    position: relative;
}

.work_item:hover .work_inner img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



.work_inner:hover .work_overly{
    opacity: 1;
}

.work_overly{
    position: absolute;
    width: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    padding: 50px 0;
    background-color: #02918cbb;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    opacity: 0;
}



.work_overly h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
}
.work_overly p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #fff;
    line-height: 22px;
    padding: 0 40px;
}


/* work part css ends */


/* contact part css start */

#contact{
   padding-top: 100px;
}

.contact_head{
    text-align: center;
    margin-bottom: 70px;
}

.contact_head h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 46px;
    color: #02918c;
}

.contact_head img{
    padding: 30px 0;
}
.contact_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #02918c;
    padding: 0 240px;
    line-height: 36px;
}

.contact_list{
    background-color: #0b0b0b;
    padding: 60px 0 ;

}

.contact_list input{
    margin: 68px auto 0;
    text-align: center;
    width: 640px;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 18px;
}
.contact_list input:focus{
    border-color: #02918c;
    padding: 0;
}


.contact_list input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.contact_list input[type=search]{
    width: 920px;
}

.contact_list input[type=submit]{
    width: 198px;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.contact_list input[type=submit]:hover{
    background-color: #cfc91d;
    border-color: #cfc91d;
    color: #000;
}

/* contact part css start */

/* copyr8 part css start */

#copyr8{
    background-color: #000;
    text-align: center;
    padding: 30px 0;
}

#copyr8 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #fff;
}


/* copyr8 part css ends */